<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Sign In</title>
</head>
<body>

    <main>
      <div class="container">
        <div class="sigUp-main">
          <h1>SIGN IN</h1>
          <div class="signup-container">
            <form action="/users/login" method="POST">
              <input type="email" placeholder="Enter email" name="email" required>
              <input type="password" placeholder="Enter password" name="password" required>
              <button class="signup-button">SIGN IN</button>
            </form>
            <a href="register" class="toReg">for Register</a>
          </div>
        </div>
        <img src="/images/itsME.png" alt="" class="image itsme">
        <img src="/images/forME.png" alt="" class="image forme">
          </div>  
    </main>
</body>
</html> 